<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  
 <ion-header-bar align-title="center" class="bar-positive bar-cevafacil">
      <div class="buttons">
        <a href="#/app/home" class="button icon ion-chevron-left" ></a>
      </div>
      <h1 class="title" style="padding-top: 10px;"><img src="img/Iconecentral.png"></h1>
  </ion-header-bar>
  <ion-content class="padding">
    <br />
    <div class="list">
        <ion-item>
          <a href="#/app/meet/1" class="item item-avatar">
            <img src="img/VacaApp.png">
            <h2>Bovino</h2>
            <p>Carne Bovina</p>
          </a>
        </ion-item>
        <ion-item>
          <a href="#/app/meet/2" class="item item-avatar">
            <img src="img/GalinhaApp.png">
            <h2>Frango</h2>
            <p>Carne de Frango</p>
          </a>
        </ion-item>
        <ion-item>
          <a href="#/app/meet/3" class="item item-avatar">
            <img src="img/PorcoApp.png">
            <h2>Suíno</h2>
            <p>Carne Suína</p>
          </a>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
