<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
	<ion-header-bar align-title="center" class="bar-positive bar-cevafacil">
	  	<div class="buttons">
	  		<a href="#/app/initial" class="button icon ion-chevron-left" ></a>
	  	</div>
	  	<h1 class="title" style="padding-top: 10px;"><img src="img/Iconecentral.png"></h1>
	</ion-header-bar>
  
  	<ion-content class="padding">

  		<div class="list card">
			<div class="item item-avatar">
			    <h2>{{result.Name}}</h2>
			  </div>

			  <div class="item item-body">
			  	<p>
			      Para atualizar sua localização, esteja em seu estabelecimento e deixe ligado o GPS do seu dispositivo.
			    </p>

			    <p>
			      Concluído o passo acima, clique no botão Atualizar abaixo.
			    </p>
			    <br />

			    <p style="text-align: center;">
			    	<a href="#" ng-click="navigate()" class="button button-balanced" style="width: 140px;">Atualizar</a> 
				</p>
			</div>
		</div>

  </ion-content>
</ion-view>
