<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  
 <ion-header-bar align-title="center" class="bar-positive bar-cevafacil">
      <div class="buttons">
        <a href="#/app/cupons" class="button icon ion-chevron-left" ></a>
      </div>
      <h1 class="title" style="padding-top: 10px;"><img src="img/Iconecentral.png"></h1>
  </ion-header-bar>
  <ion-content class="padding">
   <br />
  <div class="col">
     <b>Código</b><br />
      <div class="list list-inset removePM">
        <label class="item item-input">
          <input type="text" ng-model="cupom.Code" placeholder="Código" ng-change="cupom.Code=cupom.Code.toUpperCase().replace(' ','');" ng-blur="cupom.Code=cupom.Code.toUpperCase().replace(' ','');">
        </label>
      </div>
      <br />
    <b>Descrição</b><br />
      <div class="list list-inset removePM">
        <label class="item item-input">
          <textarea ng-model="cupom.Description" rows="3" cols="10" placeholder="Descrição"> </textarea>
        </label>
      </div>
  </div>
      
  <div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="save()"> Gravar </button>  </div>
  </ion-content>
</ion-view>
