.loginBg{

background: rgba(73,155,234,1);
background: -moz-linear-gradient(bottom, rgb(255, 225, 150) 0%, rgb(255, 200, 100) 100%);
background: -webkit-gradient(bottom top, right top, color-stop(0%, rgb(255, 225, 150) 45%), color-stop(45%, rgb(251, 215, 135)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(bottom, rgb(255, 225, 150) 0%, rgb(255, 200, 100) 100%);
background: -o-linear-gradient(bottom, rgb(255, 225, 150) 0%, rgb(255, 200, 100) 100%);
background: -ms-linear-gradient(bottom, rgb(255, 225, 150) 0%, rgb(255, 200, 100) 100%);
background: linear-gradient(to top, rgb(255, 225, 150) 0%, rgb(255, 200, 100) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=1 );

}

.app-logo{ 
	background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    padding-top: 70px;
}
.top-content { padding-top: 10vh;  text-align: center;   }
.loginButton{ padding-bottom:0px;}
.remvoeBP{ padding-bottom:0px;}
.removePM{ margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }

#menuLinks .list .item{ border-color:#479CF7;}
#menuLinks .list .item a{ background:#387EF5; color:#fff;}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}